@charset "UTF-8";

/* 페이지 본문 레이아웃 */
.page-content {
    width: 70%;
    margin: 30px auto;
    padding: 30px;
    background-color: #e2e2e2;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    height: auto;
}

/* 폼 타이틀 스타일 */
.page-title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2A3854;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
}

/* 테이블 스타일 */
.page-content table {
    width: 95%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.page-content th, .page-content td {
    padding: 15px;
    border: 1px solid #e2e2e2;
    font-size: 16px;
}

.page-content th {
    background-color: #2A3854;
    color: white;
    font-weight: bold;
    width: 150px;
}

.page-content td {
    background-color: #ffffff;
}

/* 입력 필드 스타일 */
.page-content input[type="text"],
.page-content input[type="password"],
.page-content input[type="email"] {
    width: calc(100% - 24px);
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #ddd;
    background-color: #f5f5f5;
    color: #333;
    font-size: 16px;
}

.page-content input[type="text"]:focus,
.page-content input[type="password"]:focus,
.page-content input[type="email"]:focus {
    border-color: #4BB958;
    outline: none;
}

/* 버튼 스타일 */
.page-content button {
    padding: 10px 20px;
    background-color: #2A3854;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease;
    float: right;
    margin-top: 20px; /* 버튼이 테이블 안으로 들어가게 하기 위해 추가 */
}

.page-content button:hover {
    background-color: #F89D4A;
    color: #2A3854;
}

/* 프로필 섹션 스타일 */
.profile-section {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    padding: 10px;
    background-color: #ffffff;
    border: 1px solid #ddd;
    border-radius: 5px;
    justify-content: flex-start; /* 이미지와 업로드 버튼을 가까이 배치 */
}

.profile-image {
    margin-right: 20px; /* 이미지와 업로드 폼 사이에 적당한 간격 추가 */
}

.profile-image img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid #2A3854;
}

.upload-form {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* 버튼이 이미지와 가까워지도록 정렬 */
}

.upload-form input[type="file"] {
    margin-bottom: 10px;
    font-size: 14px;
}

.upload-form button {
    margin-top: 0;
    margin-right: 0;
}
