@charset "UTF-8";

.logo {
   width: 150px;
}

.mapimg {
   height: 700px;
   width: 900px;
}

.table-container {
  max-height: 400px;
  overflow-y: scroll;
}

table {
   width: 800px;
   border-collapse: collapse;
   
}
th, td {
   border: 1px solid black;
   padding: 5px 10px;
}

input[id="menuicon"] {
   display: none;
}

header {
   width: 100%;
   /*background: #F89D4A;*/
}

header > div {
   position: relative;
   width: 1200px;
   margin: 0 auto;
}

header > div ul.navi {
   font-size: 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-right: 100px;
}

header > div ul.navi > li {
   font-size: 12px;
   display: inline-block;
}

header > div ul.navi > li > a {
   display: block;
   width: auto;
   padding: 20px;
}

.area_desc {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 20px;
}

.menubtn {
   display: block;
   width: 50px;
   height: 50px;
   position: absolute;
   top: 50%;
   right: 10px;
   transform: translateY(-50%);
   cursor: pointer;
}

.menubtn span {
   display: block;
   position: absolute;
   width: 80%;
   height: 5px;
   border-radius: 30px;
   background: #2A3854;
   transition: all .35s;
}

.menubtn span:nth-child(1) {
   top: 20%;
   left: 50%;
   transform: translateX(-50%);
}

.menubtn span:nth-child(2) {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.menubtn span:nth-child(3) {
   bottom: 20%;
   left: 50%;
   transform: translateX(-50%);
}

.container {
   width: 100%;
   position: relative;
   display: inline-block;
}

.container .contents {
   width: 1200px;
   margin: 0 auto;
   min-height: 700px;
   /*background: #b1d0e8;*/
   /*border: 1px solid #2A3854;
   background: #4BB958;*/
}

.container .sidebar {
   position: fixed;
   top: 0;
   right: -300px;
   width: 300px;
   height: 100%;
   /*background: #4BB958;
   border: 1px solid #2A3854;*/
   z-index: 30;
   transition: .35s;
}

.contents img {
   display: block;
}

.contents a {
   text-decoration: none;
   position: absolute;
   transform: translate(-50%, -50%);
   transition: all 0.3s ease;
   color: white;
   /*text-shadow: 
     -1px -1px 0 #2A3854,  
    1px -1px 0 #2A3854,
    -1px  1px 0 #2A3854,
    1px  1px 0 #2A3854;*/
}

.contents a:hover {
   transform: translate(-50%, -50%) scale(1.6);
   color: white;
   font-weight: bold;
   text-shadow: 
     -1px -1px 0 #2A3854,  
    1px -1px 0 #2A3854,
    -1px  1px 0 #2A3854,
    1px  1px 0 #2A3854;
}

.sidebar-left {
    width: 12%;
    height: 30vh;
    position: absolute; /* 절대 위치로 변경 */
    top: 40%; /* 화면의 세로 중간에 배치 */
    left: 25px;
    transform: translateY(-50%); /* 수직 정렬을 위해 transform 사용 */
    background-color: #f4f4f4;
    border-right: 1px solid #ccc;
    padding: 10px;
    box-sizing: border-box;
    z-index: 1000;
    min-width: 100px; /* 최소 너비를 설정하여 너무 작아지는 것을 방지 */
    max-width: 300px; /* 최대 너비를 설정하여 너무 커지는 것을 방지 */
    font-size: 15px;
}

.sidebar-left .weather-info {
    font-size: 13px; /* 날씨 정보의 글자 크기 조정 */
}

.sidebar-left select,
.sidebar-left h1 {
    font-size: 15px; /* 사이드바 안의 선택 박스와 제목 글자 크기 조정 */
}

input[id="menuicon"]:checked ~ header .menubtn {
   z-index: 50;
}

input[id="menuicon"]:checked ~ header .menubtn span:nth-child(1) {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) rotate(135deg);
}

input[id="menuicon"]:checked ~ header .menubtn span:nth-child(2) {
   left: 50%;
   transform: translate(-50%, -50%) scale(2);
   opacity: 0;
}

input[id="menuicon"]:checked ~ header .menubtn span:nth-child(3) {
   bottom: 50%;
   left: 50%;
   transform: translate(-50%, 50%) rotate(-135deg);
}

input[id="menuicon"]:checked ~ .container .sidebar {
   right: 0;
}

.sidebar .area_desc a {
   display: block;
  line-height: 2;
  margin-bottom: 10px;
  color: black;
  text-decoration: none;
}

.checkbox {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

footer {
   width: 1200px;
   margin: 0 auto;
   min-height: 60px;
   /*background: #4BB958;*/
}


/* checkbox css */
.container1 input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.container1 {
  display: block;
  position: absolute;
  cursor: pointer;
  font-size: 20px;
  user-select: none;
  animation: jello-horizontal 0.9s both;
}

.checkmark1:hover {
  animation: jello-horizontal 0.9s both;
}

.checkmark1 {
  position: relative;
  top: 0;
  left: 0;
  height: 0.8em;
  width: 0.8em;
  border-radius: 50%;
  background-color: #eee;
}

.container1 input:checked ~ .checkmark1 {
  background-color: #F89D4A;
}

.checkmark1:after {
  content: "";
  position: absolute;
  display: none;
}

.container1 input:checked ~ .checkmark1:after {
  display: block;
}

.container1 .checkmark1:after {
  left: 0.25em;
  top: 0.08em;
  width: 0.2em;
  height: 0.4em;
  border: solid white;
  border-width: 0 0.15em 0.15em 0;
  transform: rotate(45deg);
}

@keyframes jello-horizontal {
  0% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  30% {
    -webkit-transform: scale3d(1.25, 0.75, 1);
    transform: scale3d(1.25, 0.75, 1);
  }

  40% {
    -webkit-transform: scale3d(0.75, 1.25, 1);
    transform: scale3d(0.75, 1.25, 1);
  }

  50% {
    -webkit-transform: scale3d(1.15, 0.85, 1);
    transform: scale3d(1.15, 0.85, 1);
  }

  65% {
    -webkit-transform: scale3d(0.95, 1.05, 1);
    transform: scale3d(0.95, 1.05, 1);
  }

  75% {
    -webkit-transform: scale3d(1.05, 0.95, 1);
    transform: scale3d(1.05, 0.95, 1);
  }

  100% {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.display-text {
  position: absolute;
  top: -1.5em;
  left: 50%;
  transform: translateX(-50%);
  font-size: 1em;
  white-space: nowrap;
  color: white;
   font-weight: bold;
   text-shadow: 
     -1px -1px 0 #2A3854,  
    1px -1px 0 #2A3854,
    -1px  1px 0 #2A3854,
    1px  1px 0 #2A3854;
}


