@charset "UTF-8";
body {
  margin: 0;
  padding: 0;
}

.logo {
   width: 150px;
}

.mapimg {
   height: 700px;
   width: 900px;
}

.table-container {
  max-height: 400px;
  overflow-y: scroll;
}

.container .contents {
   width: 1200px;
   margin: 0 auto;
   min-height: 700px;
}

.container .sidebar {
   position: fixed;
   top: 0;
   right: -300px;
   width: 300px;
   height: 100%;
   z-index: 30;
   transition: .35s;
}

input[id="menuicon"] {
   display: none;
}

header {
   width: 100%;
}

header > div {
   position: relative;
   width: 1200px;
   margin: 0 auto;
}

header > div ul.navi {
   font-size: 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
   padding-right: 100px;
}

header > div ul.navi > li {
   font-size: 12px;
   display: inline-block;
}

header > div ul.navi > li > a {
   display: block;
   width: auto;
   padding: 20px;
}

.area_desc {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
   font-size: 20px;
}

.menubtn {
   display: block;
   width: 50px;
   height: 50px;
   position: absolute;
   top: 50%;
   right: 10px;
   transform: translateY(-50%);
   cursor: pointer;
}

.menubtn span {
   display: block;
   position: absolute;
   width: 80%;
   height: 5px;
   border-radius: 30px;
   background: #2A3854;
   transition: all .35s;
}

.menubtn span:nth-child(1) {
   top: 20%;
   left: 50%;
   transform: translateX(-50%);
}

.menubtn span:nth-child(2) {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
}

.menubtn span:nth-child(3) {
   bottom: 20%;
   left: 50%;
   transform: translateX(-50%);
}

.container {
   width: 100%;
   position: relative;
   display: inline-block;
}

input[id="menuicon"]:checked ~ header .menubtn {
   z-index: 50;
}

input[id="menuicon"]:checked ~ header .menubtn span:nth-child(1) {
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%) rotate(135deg);
}

input[id="menuicon"]:checked ~ header .menubtn span:nth-child(2) {
   left: 50%;
   transform: translate(-50%, -50%) scale(2);
   opacity: 0;
}

input[id="menuicon"]:checked ~ header .menubtn span:nth-child(3) {
   bottom: 50%;
   left: 50%;
   transform: translate(-50%, 50%) rotate(-135deg);
}

input[id="menuicon"]:checked ~ .container .sidebar {
   right: 0;
}

.sidebar .area_desc a {
   display: block;
  line-height: 2;
  margin-bottom: 10px;
  color: black;
  text-decoration: none;
}

.checkbox {
    position: absolute;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    cursor: pointer;
}

footer {
   width: 1200px;
   margin: 0 auto;
   min-height: 60px;
}