@charset "UTF-8";

/* 마이페이지 전체 레이아웃 */
#mypage {
    width: 70%;
    margin: 0 auto;
    padding: 30px;
    background-color: #e2e2e2;
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    font-family: Arial, sans-serif;
    height: 640px;
}

#userProfile {
	text-align: center;
}

.mypage-title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 20px;
    color: #2A3854;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
    margin-top: 10px;
}

/* 테이블 스타일 */
.mypage table {
    width: 95%;
    margin: 0 auto;
    border-collapse: collapse;
    margin-bottom: 20px;
    border-radius: 15px; /* 테두리 둥글게 */
    overflow: hidden;
}

.mypage table td a {
	text-decoration: none;
	color: black;
}

.mypage th, .mypage td {
    padding: 15px;
    border: 1px solid #e2e2e2;
    font-size: 16px;
}

.mypage th {
    background-color: #2A3854;
    color: white;
    font-weight: bold;
    width: 150px;
}

.mypage td {
    background-color: #ffffff;
}

/* 프로필 이미지 스타일 */
.mypage img {
    border-radius: 50%;
    object-fit: cover;
}

/* 버튼 스타일 */
.mypage button {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #2A3854;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    font-size: 16px;
}

.mypage button:hover {
    background-color: #F89D4A;
    color: #2A3854;
}

/* 파일 업로드 버튼 스타일 */
.mypage input[type="file"] {
    margin-bottom: 10px;
}

.mypage button[type="submit"] {
    padding: 8px 16px;
    background-color: #F89D4A;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.mypage button[type="submit"]:hover {
    background-color: #E27D24;
}

button {
	font-weight: bold;
}

.submit {
	margin-top: 7px;
	float: right;
	margin-left: 15px;
}
