<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>

	<table>
		<tr>
			<th>like_idx</th>
			<th>a_idx</th>
			<th>place_idx</th>
			<th>place_name</th>
			<th>place_add</th>
			<th>place_x</th>
			<th>place_y</th>
			<th>relocation</th>
		</tr>

		<tr th:each="row : ${mapAPI}">
			<td th:text="${row.like_idx}"></td>
			<td th:text="${row.a_idx}"></td>
			<td th:text="${row.p_idx}"></td>
			<td th:text="${row.place_name}"></td>
			<td th:text="${row.place_add}"></td>
			<td th:text="${row.place_x}"></td>
			<td th:text="${row.place_y}"></td>
			<td><input type="checkbox" th:onclick="|toggleMarker(this,${row.place_x},${row.place_y})|"></td>
		</tr>
	</table>

	<hr>

   <div id="map" style="width:900px; height:600px;"></div>
  
  <script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=a1a7717c2c3bc1327ef51412b55ac5ef"></script>
  
   <script>
      var mapContainer = document.getElementById('map'), // 지도를 표시할 div  
      mapOption = {
         center : new kakao.maps.LatLng(35.181431, 128.9464563), // 지도의 중심좌표
         level : 5
      // 지도의 확대 레벨
      };

      var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다
  
  
      var markers = {}; // 마커를 저장할 객체 (key-value pair로 관리)

      function toggleMarker(check, x, y) {
          var key = x + ',' + y; // x,y 좌표를 문자열로 결합하여 키로 사용

          if (check.checked) {
              var marker = new kakao.maps.Marker({
                  position: new kakao.maps.LatLng(x, y),
                  map: map
              });
              markers[key] = marker; // 마커를 객체에 저장
          } else {
              if (markers[key]) {
                  markers[key].setMap(null); // 마커를 지도에서 제거
                  delete markers[key]; // 객체에서 마커 삭제
              }
          }
      }
  </script>



</body>
</html>