<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>글 작성하기</title>
    
    <link href="/css/mainStyle.css" rel="stylesheet">
    <link href="/css/stowriteStyle.css" rel="stylesheet">
    
    <script>
        function addFileInput() {
            const fileInputContainer = document.getElementById('file-input-container');
            const newFileInput = document.createElement('input');
            newFileInput.type = 'file';
            newFileInput.name = 'images';
            newFileInput.accept = 'image/*';
            fileInputContainer.appendChild(newFileInput);
        }

    </script>
</head>
<body>
<th:block th:replace="/fragment::header"></th:block>

<div class="content-container">
    <h2>글 작성하기</h2>
    <form action="/place/story_write" method="post" enctype="multipart/form-data">
        <!-- a_idx 값을 숨겨진 입력 필드로 추가 -->
        <input type="hidden" name="a_idx" th:value="${session.user.accounts_idx}">
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" id="title" name="title" required>
        </div>

        <div class="form-group">
            <label for="regin">지역</label>
            <input type="text" id="regin" name="regin" required>
        </div>

        <div class="form-group">
            <label for="seldate">시작 날짜</label>
            <input type="date" id="seldate" name="seldate" required>
        </div>
        <div class="form-group">
            <label for="enddate">끝 날짜</label>
            <input type="date" id="enddate" name="enddate" required>
        </div>

        <div class="form-group">
            <label for="contents">내용</label>
            <textarea id="contents" name="contents" rows="10"></textarea>
        </div>

        <div class="form-group">
            <label for="images">이미지 업로드</label>
            <div id="file-input-container" class="file-inputs">
                <input type="file" id="images" name="images" accept="image/*">
            </div>
            <button type="button" class="add-image-button" onclick="addFileInput()">이미지 추가</button>
        </div>
        
        <div class="form-group">
            <button type="submit">게시하기</button>
        </div>
    </form>
</div>
<th:block th:replace="/fragment::footer"></th:block>
</body>
</html>
