<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글 작성하기</title>
    
    <link href="/css/mainStyle.css" rel="stylesheet">
    <link href="/css/stowriteStyle00.css" rel="stylesheet">
    
    <script>
        function addFileInput() {
            const fileInputContainer = document.getElementById('file-input-container');
            const fileInputs = fileInputContainer.getElementsByTagName('input');
            
            if (fileInputs.length < 10) { // 최대 10개의 파일 입력 필드만 허용
                const newFileInput = document.createElement('input');
                newFileInput.type = 'file';
                newFileInput.name = 'images';
                newFileInput.accept = 'image/*';
                fileInputContainer.appendChild(newFileInput);
            } else {
                alert('이미지는 최대 10개까지만 추가할 수 있습니다.');
            }
        }
    </script>
</head>
<body>
<th:block th:replace="/fragment::header"></th:block>

<div id="stoWrite">
<div class="content-container">
    <h2>여행후기 작성</h2>
    <form action="/place/story_write" method="post" enctype="multipart/form-data">
        <!-- a_idx 값을 숨겨진 입력 필드로 추가 -->
        <input type="hidden" name="a_idx" th:value="${session.user.accounts_idx}">
        <div class="form-group">
            <label for="title">제목</label>
            <input type="text" id="title" name="title" required>
        </div>

        <div class="form-group">
            <label for="regin">여행 지역</label>
            <input type="text" id="regin" name="regin" required>
        </div>

        <div class="form-group date-group">
    <div class="date-field">
        <label for="seldate">출발 일자</label>
        <input type="date" id="seldate" name="seldate" required>
    </div>
    <div class="date-field">
        <label for="enddate">도착 일자</label>
        <input type="date" id="enddate" name="enddate" required>
    </div>
</div>

        <div class="form-group">
            <label for="contents">내용</label>
            <textarea id="contents" name="contents" rows="5"></textarea>
        </div>

        <div class="form-group">
            <label for="images">이미지 업로드</label>
            <div id="file-input-container" class="file-inputs">
                <input type="file" id="images" name="images" accept="image/*">
            </div>
            <button type="button" class="add-image-button" onclick="addFileInput()">이미지 추가</button>
        </div>
        
        <div class="form-group">
            <button type="submit">게시하기</button>
        </div>
    </form>
</div>
</div>
<th:block th:replace="/fragment::footer"></th:block>
</body>
</html>
