<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>traverse</title>
  
  <link href="/css/mainStyle.css" rel="stylesheet">
  <link href="/css/traverserStoryStyle.css" rel="stylesheet">
</head>
<body>

	<th:block th:replace="/fragment::header"></th:block>
	
			<h1>Traverser's Story</h1>
		
			<form action="POST">
    	<div class="search">
        <input placeholder="Search..." type="text">
        <button type="submit">Go</button>
      </div>
      </form>
      
      <div class="trending">
      <span>Trending Searches :</span>
      <span><a href="/">Seoul</a></span>
      <span><a href="/">Jeju</a></span>
      <span><a href="/">Busan</a></span>
      <span><a href="/">Jeonju</a></span>
      <span>...</span>
			</div>

		<th:block th:replace="/fragment::footer"></th:block>
	
</body>
</html>