<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link href="/css/mainStyle.css" rel="stylesheet">
<link href="/css/tsResultStyle.css" rel="stylesheet">
</head>
<body>

	<th:block th:replace="/fragment::header"></th:block>

	<div class="container">
		<div class="contents" style="min-height: 680px;">

			<h1>검색 결과</h1>

			<table class="tsResult">
				<thead>
					<tr>
						<th>제목</th>
						<th>지역</th>
						<th>날짜</th>
						<th>조회수</th>
						<th>닉네임</th>

					</tr>
				</thead>
				<tbody>
					<tr th:each="story : ${result}">
						<td><a th:href="@{/place/story/{idx}(idx=${story.idx})}"
							th:text="${story.title}"></a></td>
						<td th:text="${story.regin}"></td>
						<td th:text="${story.seldate + ' - ' + story.enddate}"></td>
						<td th:text="${story.v_count}"></td>
						<td th:text="${story.nick}"></td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


	<th:block th:replace="/fragment::footer"></th:block>

</body>
</html>