<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>

<link href="/css/mainStyle.css" rel="stylesheet">
</head>
<body>

	<input type="checkbox" id="menuicon">
	<header>
		<div>
			<ul class="navi">
				<li><a href="/"><img class="logo" th:src="@{/image/logo_w.png}"></a></li>
				<li th:if="${session.user == null}">
					<a href="/member/login">login</a>
				</li>
				<li th:if="${session.user != null}">
					<a href="/member/myPage">myPage</a>
				</li>
		  </ul>
		  
		  <label for="menuicon" class="menubtn">
		  	<span></span>
		  	<span></span>
		  	<span></span>
		  </label>
		</div>
	</header>
	
	<div class="container">
		<div class="contents" style="min-height: 680px;">
		
	<h1>Search Results</h1>
  <p>검색어: <span th:text="${search}"></span></p>

		</div>
		<div class="sidebar">
			<span class="area_desc">
			  <a href="/member/signUp">signUp</a><br>
			  <th:block th:if="${session.user == null}">
			  	<a href="/member/login">login</a><br>
			  </th:block>
			  <th:block th:if="${session.user != null}">
			  	<a href="/member/logout">logout</a><br>
			  	<a href="/member/myPage">myPage</a><br>
			  </th:block>
			  <a href="/member/like">like</a><br>
			  <a href="/place/mapAPI">mapAPI</a><br>
        <a href="/member/customer">customer</a><br>
        <a href="/member/detail">상세페이지</a><br>
        <a href="/place/traverserStory">Traverser's Story</a>
			</span>
		</div>
	</div>
	
	
	
	<footer>
		<hr>
		<div>회사소개  |  이용약관  |  등등...</div>
	</footer>

</body>
</html>