<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>공지사항</title>
<link href="/css/announcementstyle.css" rel="stylesheet">
</head>
<body>
	<div class="container">
		<h1>공지사항</h1>
		<hr>
		<table class="rwd-table">
			<tbody>
				<tr>
					<th>No</th>
					<th>닉네임</th>
					<th>제목</th>
					<th>계정 번호</th>
					<th>작성일</th>
					<th>조회수</th>
				</tr>
				<tr th:each="row : ${test}">
					<td th:text="${row.announcement_idx}"></td>
					<td th:text="${row.nick}"></td>
					<td th:text="${row.title}"></td>
					<td th:text="${row.a_idx}"></td>
					<td th:text="${row.w_date}"></td>
					<td th:text="${row.v_count}"></td>
				</tr>
			</tbody>
		</table>
	</div>

	<br>


<button>
  <span class="span-mother">
    <span>글</span>
    <span>쓰</span>
    <span>기</span>
  </span>
  <span class="span-mother2">
    <span>글</span>
    <span>쓰</span>
    <span>기</span>
  </span>
</button>

	
	<script>
    let btns = document.querySelectorAll('button');
    
    // 글쓰기 버튼
    btns[0].onclick = () => {
      location.href = '/member/write';
    };
    
  </script>

	
</body>
</html>