<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/mainStyle.css" rel="stylesheet">
<link href="/css/csboardStyle00.css" rel="stylesheet">
</head>
<body>
<th:block th:replace="/fragment::header"></th:block>
<div id="content-wrapper">
  <h1>게시물 수정</h1>
  <form method="POST">
    <div>
       <label for="title">제목</label>
       <input id="title" name="title" type="text" th:value="${row.title}">
    </div>
    <div>
       <label for="contents">글 내용</label>
       <textarea id="contents" name="content" th:text="${row.content}"></textarea>
    </div>
    
    <input name="a_idx" type="hidden" th:value="${session.user.accounts_idx}">
    
    <button type="submit">수정</button>
  </form>
</div>

<th:block th:replace="/fragment::footer"></th:block>
</body>
</html>
