<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<link href="/css/csboardStyle00.css" rel="stylesheet">
<link href="/css/mainStyle.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>글쓰기</title>
</head>
<body>
<th:block th:replace="/fragment::header"></th:block>
   <div id="content-wrapper">
    <h1>QnA</h1>
    <form method="post">
        <div>
            <label for="title">제목:</label>
            <input type="text" id="title" name="title" required>
        </div>
        <div>
            <label for="content">내용:</label>
            <textarea id="content" name="content" rows="10" cols="30" required></textarea>
            <input name="accounts_idx" type="hidden" th:value="${session.user.accounts_idx}">
        </div>
        <div>
            <button type="submit">저장</button>
        </div>
    </form>
   </div>
    <th:block th:replace="/fragment::footer"></th:block>
</body>
</html>
