<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>고객지원</title>
<link rel="stylesheet" href="/css/Customerstyle00.css">
<link rel="stylesheet" href="/css/mainStyle.css">
</head>
<body>
<th:block th:replace="/fragment::header"></th:block>
	<div id="customer">
	<header>
		<nav>
			<ul>
				<li><a href="#company-intro" onclick="showSection('company-intro')">  기업소개  </a></li>
				<li>|</li>
				<li><a href="#notice" onclick="showSection('notice')">  공지사항  </a></li>
				<li>|</li>
				<li><a href="#faq" onclick="showSection('faq')">  FAQ  </a></li>
				<li>|</li>
				<li><a href="#qna" onclick="showSection('qna')">  자유 게시판  </a></li>

			</ul>
		</nav>
	</header>
	<div id="customer-inner">
	<section id="company-intro" class="section active">
		<div class="intro-container">
				<h2>기업소개</h2>
		<div class="inner-content">
			<div class="intro-logo">
				<img src="/image/logo_w.png">
			</div>
			<div class="intro-text">
				<pre>
Traverse는 여행을 사랑하는 모든 사람들에게 영감을 주고, 쉽게 여행을 계획하며, 
잊지 못할 추억을 남길 수 있도록 도와주는 국내 여행 플랫폼입니다.

Traverse는 프랑스어 "traverser"에서 유래하여, '건너다'라는 의미를 지니고 있습니다. 
이 이름은 경계를 넘고 새로운 장소를 탐험하는 여행의 본질을 잘 담고 있습니다. 
우리의 목표는 여러분이 일상에서 벗어나 국내의 아름다운 곳곳을 경험하고, 
새로운 경계를 넘어서는 여정을 즐길 수 있도록 지원하는 것입니다.

Traverse를 통해 여러분은:

여행 추천 받기: 
	다양한 테마와 목적에 맞는 여행지를 추천받아, 나만의 여행을 시작할 수 있습니다.
여행 계획 세우기: 
	추천받은 여행지를 바탕으로 여행 일정을 쉽게 계획하고 관리할 수 있습니다.
여행 후기와 사진 공유하기: 
	여행을 마친 후, 간단한 후기와 사진을 공유하여 다른 여행자들과 추억을 나눌 수 있습니다.

우리의 서비스는 국내 여행에 초점을 맞추고 있습니다. 
여러분이 국내의 숨겨진 보석 같은 장소들을 발견하고, 새로운 경험을 할 수 있도록 도와줍니다. 

Traverse와 함께 경계를 넘어 전국을 탐험하며, 잊지 못할 여정을 떠나세요!
			</pre></div>
			</div>
		</div>
	</section>

	<section id="notice" class="section" style="display: none;">
		<h2>공지사항</h2>
		
		<table class="rwd-table">
			<tbody>
				<tr>
					<th>No.</th>
					<th>제목</th>
					<th>작성자</th>
					<th>작성일</th>
					<th>조회수</th>
				</tr>
				<tr th:each="row : ${announce}">
					<td th:text="${row.announcement_idx}" class="td-center"></td>
					<td><a
						th:href="@{/member/view/{announcement_idx}(announcement_idx=${row.announcement_idx})}"
						th:text="${row.title}"></a></td>
					<td th:text="${row.nick}" class="td-center"></td>
					<td th:text="${row.w_date}" class="td-center"></td>
					<td th:text="${row.v_count}" class="td-center"></td>
				</tr>
			</tbody>
		</table>
		<br>

		<ul class="pagemenu">

			<li th:each="i : ${#numbers.sequence(pg.begin, pg.end)}">
				<a th:href="@{customer(idx=${i})} + '#notice'"> 
				   <span
					    th:text="${i}">
					 </span>
				</a>
			</li>

		</ul>
		<!-- 관리자가 아니면 글쓰기 활성화 안됨 -->
		<div th:if="${session.user != null and session.user.nick == '관리자'}">
			<a href="/member/write" id="notice-write"><button class="write-button">글쓰기</button></a>
		</div>
	</section>

	<section id="faq" class="section" style="display: none;">
		<h2>FAQ</h2>
		<div class="faq-item" id="first-faq">
    	<button class="accordion">
        <span class="question-text">Q. 자주 묻는 질문 1</span>
        <span class="toggle-text">더보기 ▽</span>
    	</button>
        <div class="panel">
            <pre>
A. 자주 묻는 질문 1에 대한 답변입니다.
dsljfdhlsd
sldknfweee   lsdkhfsd
elfhslkdo
.
						</pre>
        </div>
    </div>
    <div class="faq-item">
      <button class="accordion">
        <span class="question-text">Q. 자주 묻는 질문 2</span>
        <span class="toggle-text">더보기 ▽</span>
    	</button>
        <div class="panel">
            <pre>
A. 자주 묻는 질문 2에 대한 답변입니다.
dsljfdhlsd
sldknfdfdvlkdo
.
						</pre>
        </div>
    </div>
    <div class="faq-item">
      <button class="accordion">
        <span class="question-text">Q. 자주 묻는 질문 3</span>
        <span class="toggle-text">더보기 ▽</span>
    	</button>
        <div class="panel">
            <pre>
A. 자주 묻는 질문 3에 대한 답변입니다.
dsljfreffffffffffdhlsd
sldknfweee   lsdkhfsd
elfhsffffffffffffffflkdo
.ffffffffffffff
						</pre>
        </div>
    </div>
        <div class="faq-item">
      <button class="accordion">
        <span class="question-text">Q. 자주 묻는 질문 4</span>
        <span class="toggle-text">더보기 ▽</span>
    	</button>
        <div class="panel">
            <pre>
A. 자주 묻는 질문 4에 대한 답변입니다.
dsljfreffffffffffdhlsd
sldknfweee   lsdkhfsd
elfhsffffffffffffffflkdo
.ffffffffffffff
						</pre>
        </div>
    </div>
        <div class="faq-item">
      <button class="accordion">
        <span class="question-text">Q. 자주 묻는 질문 5</span>
        <span class="toggle-text">더보기 ▽</span>
    	</button>
        <div class="panel">
            <pre>
A. 자주 묻는 질문 5에 대한 답변입니다.
dsljfreffffffffffdhlsd
sldknfweee   lsdkhfsd
elfhsffffffffffffffflkdo
.ffffffffffffff
						</pre>
        </div>
    </div>
            <div class="faq-item">
      <button class="accordion">
        <span class="question-text">Q. 자주 묻는 질문 6</span>
        <span class="toggle-text">더보기 ▽</span>
    	</button>
        <div class="panel">
            <pre>
A. 자주 묻는 질문 6에 대한 답변입니다.
dsljfreffffffffffdhlsd
sldknfweee   lsdkhfsd
elfhsffffffffffffffflkdo
.ffffffffffffff
						</pre>
        </div>
    </div>
	</section>

	<section id="qna" class="section" style="display: none;">
		<h2>자유 게시판</h2>
		<div class="qna-item">

			<table class="rwd-table" id="qna">
				<tbody>
					<tr>
						<th>No.</th>
						<th>제목</th>
						<th>작성자</th>
						<th>작성일</th>
						<th>조회수</th>
					</tr>
					<tr th:each="row : ${qna}">
						<td th:text="${row.board_idx}" class="td-center"></td>
						<td><a
							th:href="@{/member/csView/{board_idx}(board_idx=${row.board_idx})}"
							th:text="${row.title}"></a></td>
						<td th:text="${row.nick}" class="td-center"></td>
						<td th:text="${row.create_at}" class="td-center"></td>
						<td th:text="${row.v_count}" class="td-center"></td>

					</tr>
				</tbody>
			</table>
			<br>
			<ul class="pagemenu"><!-- 페이지네이션 메뉴의 컨테이너 역할 -->

        <!-- 타임리프의 반복문을 위한 속성으로 html코드 동적으로 생성 i는 반복분에서 인텍스를 나타내고 pg.begin에서 pg.end까지 
        숫자 시퀀스를 생성 예를 들어, 1,10이면 pg.begin에서 pg.end까지 숫자에 대해 li태그를 생성 -->
        <li th:each="i : ${#numbers.sequence(qnapg.begin, qnapg.end)}"><a
          th:href="@{customer(idx=${i})} + '#qna'"><!-- 동적 링크 생성 --> <span
            th:text="${i}"></span>
        </a></li>
      </ul>
      <!-- pg.begin에서 pg.end까지 숫자에 해당하는 페이지 번호를 순서대로 li와 a태그로 감싸서 페이지네이션 링크를 만든다.
      이 링크는 사용자가 각 페이지 번호를 클릭할 수 있도록 하며 클릭 시 특정 페이지로 이동한다. a태그에 #qna가 붙어있으므로
      페이지 이동 후에도 페이지의 특정 위치로 스크롤된다. -->     
      
        
    <a href="/member/cswrite" id="notice-write"><button class="write-button">글쓰기</button></a>
    
    <form method="POST">
      <!-- 검색 -->
        <div class="search">
          <!-- 인풋태그에 검색어 입력 -->
          <input name="qna_search" placeholder="궁금한 점을 검색하세요." type="text">
          <button type="submit">검색</button>
        </div>
      </form>
        <!-- 테이블 형식으로 이야기 목록을 표시 -->
    


      </div>
    </div>
  
  
  
  </section>
  
  


  <script>
  //세션에서 로그인 상태 가져옴
  let userlogin = sessionStorage.getItem('userlogin') === 'true';
  
  function showSection(sectionId) {
    //섹션 클래스를 가진 요소중 특정 섹션만 보여줌
    const sections = document.querySelectorAll('.section');
    sections.forEach(section => {
      if (section.id === sectionId) {
        section.style.display = 'block';
      } else {
          section.style.display = 'none';
      }
    });
  }

  let button = document.querySelectorAll('button');
    

  function loginSuccess() {
    userlogin = true;
    sessionStorage.setItem('userlogin', true);
    //세션 스토리지에 로그인 상태 저장
  }

        document.addEventListener('DOMContentLoaded', function() {
        if (window.location.hash === '#notice') {
            showSection('notice');
            document.getElementById('notice').scrollIntoView();
        }
        });

     // 페이지 로드 시 해시값에 따라 해당 섹션으로 이동
        document.addEventListener('DOMContentLoaded', function() {
            const hash = window.location.hash;
            if (hash) {
                const sectionId = hash.substring(1); // 해시 값에서 '#' 제거
                showSection(sectionId);
            }
        });
     
        document.addEventListener('DOMContentLoaded', function() {
            var accordions = document.getElementsByClassName("accordion");

            for (var i = 0; i < accordions.length; i++) {
                accordions[i].addEventListener("click", function() {
                    this.classList.toggle("active");
                    var panel = this.nextElementSibling;
                    if (panel.style.display === "block") {
                        panel.style.display = "none";
                    } else {
                        panel.style.display = "block";
                    }
                });
            }
        });
    </script>
	
	</div>
<th:block th:replace="/fragment::footer"></th:block>
</body>
</html>