<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Insert title here</title>
	<link href="/css/mainStyle.css" rel="stylesheet">
	<link href="/css/LoginStyle.css" rel="stylesheet">
</head>
<body>
  <th:block th:replace="/fragment::header"></th:block>

<fieldset>
  <legend>ID찾기</legend>
  
  <form method="post">
  <p><input name="name" placeholder="이름" required></p>
  <p><input name="email" placeholder="email" type="email" required></p>
  
  <button>ID찾기</button>
  </form>
 
  
</fieldset>


<th:block th:replace="/fragment::footer"></th:block>
</body>
</html>