<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>마이페이지</title>
</head>
<body>

<table>
  <tr>
     <th>회원번호</th>
     <td th:text="${session.user.accounts_idx}"></td>
  </tr>
  <tr>
     <th>아이디</th>
     <td th:text="${session.user.userid}"></td>
  </tr>
  <tr>
     <th>닉네임</th>
     <td th:text="${session.user.nick}"></td>
  </tr>
  <tr>
     <th>이메일</th>
     <td th:text="${session.user.emaill}"></td>
  </tr>
  <tr>
     <th>가입일</th>
     <td th:text="${session.user.birth}"></td>
  </tr>
</table>

<br>
<a href="/member/update">
  <button>수정</button>
</a>

<a></a>
<button>탈퇴</button>

</body>
</html>