<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>회원가입 페이지</title>
    <link href="/css/signUpStyle.css" rel="stylesheet">
    <link href="/css/mainStyle.css" rel="stylesheet">
</head>

<body>
    <th:block th:replace="/fragment::header"></th:block>
    <div id="signup">

        <div class="mid">
            <form class="form" method="post" onsubmit="return validateForm()">
                <p class="title">Membership Register</p>

                <div class="flex">
                    <label>
                        <input name="name" required placeholder="" type="text" class="input">
                        <span>이름</span>
                    </label>
                </div>

                <div class="flex">
                    <label class="input-label">
                        <input id="userid" name="userid" required placeholder="" type="text" class="input" onblur="checkUserid()">
                        <span>아이디</span>
                    </label>
                </div>

                <div class="flex">
                    <label class="input-label">
                        <input id="nick" name="nick" required placeholder="" type="text" class="input" onblur="checkUserNick()">
                        <span>닉네임</span>
                    </label>
                </div>

                <div class="flex">
                    <label class="input-label" style="position: relative; display: block;">
                        <input id="password" name="userpw" required type="password" class="input" style="padding-right: 30px;">
                        <span>비밀번호</span>
                        <button type="button" id="togglePassword" onclick="togglePasswordVisibility('password', 'togglePassword')" style="background: none; border: none; position: absolute; right: 10px; top: 50%; transform: translateY(-50%); padding: 0; margin: 0;">
                            <img src="/image/eye_closed_icon.png" alt="Toggle visibility" style="width: 20px; height: 20px;">
                        </button>
                    </label>
                </div>

                <div class="flex">
                    <label class="input-label" style="position: relative; display: block;">
                        <input id="confirmPassword" name="confirmPassword" required placeholder="" type="password" class="input" style="padding-right: 30px;">
                        <span>비밀번호 확인</span>
                        <button type="button" id="toggleConfirmPassword" onclick="togglePasswordVisibility('confirmPassword', 'toggleConfirmPassword')" style="background: none; border: none; position: absolute; right: 10px; top: 50%; transform: translateY(-50%); padding: 0; margin: 0;">
                            <img src="/image/eye_closed_icon.png" alt="Toggle visibility" style="width: 20px; height: 20px;">
                        </button>
                    </label>
                </div>

                <div id="error-message" style="color: red; display: none;">비밀번호가 일치하지 않습니다.</div>

                <div class="flex">
                    <label class="input-label">
                        <input id="phone" name="phone" required placeholder="" type="text" class="input" oninput="formatPhoneNumber(this)" maxlength="13" onblur="checkUserPhone(this)">
                        <span>전화번호</span>
                    </label>
                </div>

                <div class="flex">
                    <label class="input-label">
                        <input id="birth" name="birth" required placeholder="" type="text" class="input" onblur="validateAndFormatBirth()" maxlength="8">
                        <span>생년월일 8자리</span>
                    </label>
                </div>

                <div class="flex">
                    <label class="input-label">
                        <input id="email" name="email" required placeholder="" type="email" class="input" onblur="checkEmail()">
                        <span>E-mail</span>
                    </label>
                </div>

                <button class="submit" type="submit">회원가입</button>
            </form>

            <script>
                // 아이디 중복 확인
                function checkUserid() {
                    let alertUseridShown = false;
                    let userid = document.querySelector("#userid").value.trim();

                    if (userid !== "") {
                        fetch("http://localhost:8080/member/checkUserid?userid=" + userid, {method:"get"})
                        .then(response => response.json())
                        .then(data => {
                            if (!alertUseridShown && typeof data.name === 'string' && data.name.length > 0) {
                                alert(data.name);
                                alertUseridShown = true;
                            }
                        })
                        .catch(error => {
                            console.error('Error checking user ID:', error);
                            alert('아이디 확인 중 오류가 발생했습니다. 다시 시도해주세요.');
                        });
                    }
                }

                //닉네임 중복 확인
                let alertNickShown = false;

                function checkUserNick() {
                    let userNick = document.querySelector("#nick").value.trim();
                    // 널 값이 아니고  alertNickShown이 false가 아니라면
                    if (userNick !== "" && !alertNickShown) {
                        fetch("http://localhost:8080/member/checkUserNick?userNick=" + userNick, {method:"get"})
                        .then(response => response.json())
                        .then(data => {
                            if (typeof data.nick === 'string' && data.nick.length > 0) {
                                alert(data.nick);
                                alertNickShown = true;
                            }
                        })
                        .catch(error => {
                            console.error('Error checking user nickname:', error);
                            alert('닉네임 확인 중 오류가 발생했습니다. 다시 시도해주세요.');
                        });
                    }
                }

                // 닉네임 필드에 입력이 발생할 때마다 alertNickShown을 초기화
                document.querySelector("#nick").addEventListener("input", function() {
                    alertNickShown = false;
                });


                // 이메일 중복 확인
                function checkEmail() {
                    let alertEmailShown = false;
                    let email = document.querySelector("#email").value.trim();

                    if (email !== "" && !alertEmailShown) {
                        fetch("http://localhost:8080/member/checkEmail?email=" + email, {method:"get"})
                        .then(response => response.json())
                        .then(data => {
                            if (typeof data.email === 'string' && data.email.length > 0) {
                                alert(data.email);
                                alertEmailShown = true;
                            }
                        })
                        .catch(error => {
                            console.error('Error checking email:', error);
                            alert('이메일 확인 중 오류가 발생했습니다. 다시 시도해주세요.');
                        });
                    }
                }

                // 전화번호 유효성 검사 및 형식화
                function checkUserPhone(input) {
                    let value = input.value.replace(/[^0-9]/g, '');

                    if (value.length === 11) {
                        formatPhoneNumber(input);

                        fetch("http://localhost:8080/member/checkUserPhone?phone=" + value, {method:"get"})
                        .then(response => response.json())
                        .then(data => {
                            if (typeof data.phone === 'string' && data.phone.length > 0) {
                                alert(data.phone);
                            }
                        })
                        .catch(error => {
                            console.error('Error checking phone number:', error);
                            alert('전화번호 확인 중 오류가 발생했습니다. 다시 시도해주세요.');
                        });
                    } else if (value.length > 0 && value.length < 11) {
                        alert("전화번호를 11자리로 입력해주세요.");
                        input.value = '';
                    }
                }

                // 전화번호 형식화
                function formatPhoneNumber(input) {
                    let value = input.value.replace(/[^0-9]/g, '');
                    let phoneLength = value.length;

                    if (phoneLength === 11) {
                        input.value = value.substring(0, 3) + '-' + value.substring(3, 7) + '-' + value.substring(7, 11);
                    }
                }

                // 생년월일 유효성 검사 및 형식화
                function validateAndFormatBirth() {
                    let input = document.getElementById("birth");
                    let value = input.value.replace(/[^0-9]/g, '');

                    if (value.length === 8) {
                        let year = parseInt(value.substring(0, 4));
                        let month = parseInt(value.substring(4, 6));
                        let day = parseInt(value.substring(6, 8));

                        let isValidDate = validateDate(year, month, day);

                        if (isValidDate) {
                            input.value = year + '.' + (month < 10 ? '0' : '') + month + '.' + (day < 10 ? '0' : '') + day;
                        } else {
                            alert("잘못된 날짜입니다. 다시 입력해주세요.");
                            input.value = '';
                            input.focus();
                        }
                    } else if (value.length > 0 && value.length !== 8) {
                        alert("생년월일 8자리를 입력해주세요.");
                        input.value = '';
                        input.focus();
                    }
                }

                function validateDate(year, month, day) {
                    let date = new Date(year, month - 1, day);
                    return date.getFullYear() === year && (date.getMonth() + 1) === month && date.getDate() === day;
                }

                // 비밀번호 가시성 토글
                function togglePasswordVisibility(passwordFieldId, toggleButtonId) {
                    let passwordField = document.getElementById(passwordFieldId);
                    let toggleButton = document.getElementById(toggleButtonId);

                    if (passwordField.type === "password") {
                        passwordField.type = "text";
                        toggleButton.children[0].src = "/image/eye_icon.png";
                    } else {
                        passwordField.type = "password";
                        toggleButton.children[0].src = "/image/eye_closed_icon.png";
                    }
                }

                // 폼 유효성 검사 및 비밀번호 확인
                function validateForm() {
                    let password = document.getElementById('password').value;
                    let confirmPassword = document.getElementById('confirmPassword').value;
                    let errorMessage = document.getElementById('error-message');

                    if (password !== confirmPassword) {
                        errorMessage.style.display = 'block';
                        return false;
                    } else {
                        errorMessage.style.display = 'none';
                        return true;
                    }
                }
            </script>

        </div>
    </div>
    <th:block th:replace="/fragment::footer"></th:block>

</body>
</html>
