<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/mainStyle.css" rel="stylesheet">
<link href="/css/ann_update.css" rel="stylesheet">
</head>
<body>
<th:block th:replace="/fragment::header"></th:block>
   <form method="POST">
      <table>
         <tr>
            <th>ID</th>
            <td th:text="${session.user.userid}"></td>
         </tr>
         <tr>
            <th>NICK</th>
            <td><input name="nick" th:value="${session.user.nick}" required></td>
         </tr><tr>
            <th>PW</th>
            <td><input name="userpw" type="password" required></td>
         </tr>
         <tr>
            <th>EMAIL</th>
            <td><input name="email" th:value="${session.user.email}" type="email" required></td>
         </tr>
      </table>
      
      <input name="accounts_idx" th:value="${session.user.accounts_idx}" type="hidden">
      
      <button>modify</button>
   </form>
    <div th:if="${session.user.profile}">
     <img th:src="@{'/image/' + ${session.user.profile}}" alt="Profile Image" style="width: 150px; height: 150px;" />
    </div>  
   <form method="POST" enctype="multipart/form-data" th:action="@{/member/uploadProfile}">
     <input type="file" name="profileImage" accept="image/*" />
     <button type="submit">업로드</button>
   </form>
   
   <th:block th:replace="/fragment::footer"></th:block>
</body>
</html>