<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/mainStyle.css" rel="stylesheet">
<link href="/css/ann_update.css" rel="stylesheet">
</head>
<body>
<th:block th:replace="/fragment::header"></th:block>

	<div class="page-content">
    <h2 class="page-title">마이페이지 정보 수정</h2>
   <form method="POST">
      <table>
         <tr>
            <th>ID</th>
            <td th:text="${session.user.userid}"></td>
         </tr>
         <tr>
            <th>NICK</th>
            <td><input name="nick" type="text" th:value="${session.user.nick}" required></td>
         </tr>
         <tr>
            <th>PW</th>
            <td><input name="userpw" type="password" required></td>
         </tr>
         <tr>
            <th>EMAIL</th>
            <td><input name="email" th:value="${session.user.email}" type="email" required></td>
         </tr>
      </table>
      
      <input name="accounts_idx" th:value="${session.user.accounts_idx}" type="hidden">
      
      <button>modify</button>
   </form>
   </div>
   <th:block th:replace="/fragment::footer"></th:block>
</body>
</html>