<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>회원가입 오류</title>
<link href="/css/signupErrorStyle.css" rel="stylesheet">
<link href="/css/mainStyle.css" rel="stylesheet">
</head>
<body>
	<th:block th:replace="/fragment::header"></th:block>
	<div id="signup">
		<div class="mid">
			<h1 class="title">회원가입 오류</h1>
			<p class="error" th:text="${errorMessage}">같은 정보가 이미 존재합니다. 다시 시도해주세요.</p>
			<p th:if="${duplicateFields != null}"
				th:each="field : ${duplicateFields}"
					th:text="'중복된 항목: ' + ${field}">중복된 항목
			</p>


			<a href="/member/signUp" class="button">다시 시도하기</a>
		</div>
	</div>
	<th:block th:replace="/fragment::footer"></th:block>
</body>
</html>
