<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>traverse</title>
  
  <link href="/css/mainStyle.css" rel="stylesheet">
  <link href="/css/homeStyle.css" rel="stylesheet">
</head>
<body>

	<th:block th:replace="/fragment::header"></th:block>
	
	
	
	<div class="container">
		<div class="contents">
			<span class="area_desc">
				<img id="mapImage" class="mapimg" th:src="@{/image/map0.png}">
				<a href="/gyeonggi" style="top: 26%; left: 39%"
					onmouseover="changeImage('경기.png')"
					onmouseout="resetImage()">경기</a>
				<a href="/gangwon" style="top: 18%; left: 60%"
					onmouseover="changeImage('강원.png')"
					onmouseout="resetImage()">강원</a>
				<a href="/chungbuk" style="top: 36%; left: 48%"
					onmouseover="changeImage('충북.png')"
					onmouseout="resetImage()">충북</a>
				<a href="/chungnam" style="top: 42%; left: 28%"
					onmouseover="changeImage('충남.png')"
					onmouseout="resetImage()">충남</a>
				<a href="/gyeongbuk" style="top: 45%; left: 69%"
					onmouseover="changeImage('경북.png')"
					onmouseout="resetImage()">경북</a>
				<a href="/gyeongnam" style="top: 65%; left: 59%"
					onmouseover="changeImage('경남.png')"
					onmouseout="resetImage()">경남</a>
				<a href="/jeonbuk" style="top: 58%; left: 35%"
					onmouseover="changeImage('전북.png')"
					onmouseout="resetImage()">전북</a>
				<a href="/jeonnam" style="top: 74%; left: 32%"
					onmouseover="changeImage('전남.png')"
					onmouseout="resetImage()">전남</a>
				<a href="/duration?areaCode=1" style="top: 22%; left: 31%"
					onmouseover="changeImage('서울.png')"
					onmouseout="resetImage()">서울</a>
				<a href="/duration?areaCode=2" style="top: 23%; left: 23%"
					onmouseover="changeImage('인천.png')"
					onmouseout="resetImage()">인천</a>
				<a href="/duration?areaCode=8" style="top: 41%; left: 37%"
					onmouseover="changeImage('세종.png')"
					onmouseout="resetImage()">세종</a>
				<a href="/duration?areaCode=3" style="top: 46%; left: 40%"
					onmouseover="changeImage('대전.png')"
					onmouseout="resetImage()">대전</a>
				<a href="/duration?areaCode=4" style="top: 55%; left: 67%"
					onmouseover="changeImage('대구.png')"
					onmouseout="resetImage()">대구</a>
				<a href="/duration?areaCode=7" style="top: 61%; left: 82%"
					onmouseover="changeImage('울산.png')"
					onmouseout="resetImage()">울산</a>
				<a href="/duration?areaCode=6" style="top: 68%; left: 78%"
					onmouseover="changeImage('부산.png')"
					onmouseout="resetImage()">부산</a>
				<a href="/duration?areaCode=5" style="top: 69%; left: 28%"
					onmouseover="changeImage('광주.png')"
					onmouseout="resetImage()">광주</a>
				<a href="/duration?areaCode=39" style="top: 95%; left: 23%"
					onmouseover="changeImage('제주.png')"
					onmouseout="resetImage()">제주</a>
			</span>
		</div>
	</div>
	

  <script>
    function changeImage(imageName) {
      document.getElementById("mapImage").src = "/image/" + imageName;
    }

    function resetImage() {
      document.getElementById("mapImage").src = "/image/map0.png";
    }
  </script>

<th:block th:replace="/fragment::footer"></th:block>

</body>
</html>