<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>개인정보보호방침</title>
	<link href="/css/mainStyle.css" rel="stylesheet">
	<link href="/css/footerStyle.css" rel="stylesheet">
</head>
<body>
  <th:block th:replace="/fragment::header"></th:block>

  <div class="footer">
  	<h2>개인정보보호방침</h2>
  	<ol>
  		<li>
  			개요
  			<ul>
  				<li>개인정보 보호방침의 목적</li>
  				<li>방침의 적용 범위</li>
  			</ul>
  			<div>
  				본 개인정보 보호방침은 Traverse Co.에서 제공하는 모든 서비스에 적용되며, 사용자의 개인정보를 보호하기 위해 마련되었습니다.
  			</div>
  		</li>
  		
  		<li>
  			수집하는 정보
  			<ul>
  				<li>수집하는 개인정보의 종류</li>
  				<li>수집 방법</li>
  			</ul>
  			<div>
  				당사는 회원가입 시 사용자로부터 이름, 이메일 주소, 전화번호 등의 개인정보를 수집하며, 서비스 이용 중 자동으로 수집되는 데이터(IP 주소, 쿠키 등)도 포함됩니다.
  			</div>
  		</li>
  		
  		<li>
  			개인정보의 사용
  			<ul>
  				<li>수집된 정보의 사용 목적</li>
  				<li>데이터 처리 방법</li>
  			</ul>
  			<div>
  				수집된 개인정보는 서비스 제공, 고객 지원, 마케팅 활동 등에 사용되며, 사용자의 동의 없이 제3자에게 제공되지 않습니다.
  			</div>
  		</li>
  		
  		<li>
  			개인정보의 공유 및 제공
  			<ul>
  				<li>제3자 제공 시 조건</li>
  				<li>제공된 정보의 사용 범위</li>
  			</ul>
  			<div>
  				당사는 법적 요구가 있거나 사용자의 동의가 있을 경우에만 개인정보를 제3자와 공유하며, 이를 철저히 관리합니다.
  			</div>
  		</li>
  		
  		<li>
  			쿠키 사용
  			<ul>
  				<li>쿠키의 정의와 사용 목적</li>
  				<li>쿠키 관리 방법</li>
  			</ul>
  			<div>
  				당사는 사용자 경험 향상을 위해 쿠키를 사용하며, 사용자는 브라우저 설정을 통해 쿠키 사용을 거부할 수 있습니다.
  			</div>
  		</li>
  		
  		<li>
  			사용자의 권리
  			<ul>
  				<li>정보 접근, 수정, 삭제 권리</li>
  				<li>개인정보 처리 제한 요청 방법</li>
  			</ul>
  			<div>
  				사용자는 언제든지 자신의 개인정보에 접근하거나 수정, 삭제를 요청할 수 있으며, 이를 위해 고객 지원팀에 연락할 수 있습니다.
  			</div>
  		</li>
  		
  		<li>
  			정보 보호
  			<ul>
  				<li>개인정보 보호 조치</li>
  				<li>데이터 보안 정책</li>
  			</ul>
  			<div>
  				당사는 사용자 개인정보 보호를 위해 물리적, 기술적, 관리적 보호 조치를 시행하고 있으며, 개인정보 유출 방지를 위해 최선을 다하고 있습니다.
  			</div>
  		</li>
  		
  		<li>
  			개인정보 보호방침의 변경
  			<ul>
  				<li>방침 변경 절차</li>
  				<li>변경 통지 방법</li>
  			</ul>
  			<div>
  				회사는 필요에 따라 이 방침을 변경할 수 있으며, 변경된 방침은 웹사이트에 게시된 후 즉시 효력을 가집니다.
  			</div>
  		</li>
  		
  		<li>
  			문의처
  			<ul>
  				<li>개인정보 보호 관련 문의처 제공</li>
  			</ul>
  			<div>
  				개인정보 보호방침에 관한 문의사항은 privacy@traverse.com으로 문의해 주시기 바랍니다.
  			</div>
  		</li>
  		
  	</ol>
  </div>




	<th:block th:replace="/fragment::footer"></th:block>
</body>
</html>
