<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>traverse</title>

    <link href="/css/mainStyle.css" rel="stylesheet">
</head>
<body>

    <th:block th:replace="/fragment::header"></th:block>
    <span class="area_desc"> 추천 결과 보여주는 페이지
        <ul>
            <li th:text="'계정 번호 : ' + ${result.a_idx}"></li>
            <li th:text="'지역 코드 : ' + ${result.areaCode} + ' : ' + ${result.sigunguCode1} + ', ' + ${result.sigunguCode2} + ', ' + ${result.sigunguCode3}"></li>
            <li th:text="'여행 기간 : ' + ${result.duration / 5}"></li>
            <li th:text="${seldate}"></li>
            <li><a th:href="@{place/travelplan}">asd</a></li>
        </ul>

        <div class="table-container">
           
            <!-- 반복문을 사용하여 duration만큼 섹션을 나눕니다 -->
            <div th:each="i : ${#numbers.sequence(1, result.duration/5)}">
                <h3 th:text="'Day ' + ${i}"></h3>
                <table>
                    <tr>
                        <th></th>
                        <th>title</th>
                        <th>address</th>
                    </tr>
                    <!-- place 목록을 표시하는 테이블 -->
                    <tr th:each="row : ${place}">
                        <td>
                            <a th:href="@{/place/planadd(
                                    p_idx=${row.idx},
                                    a_idx=${result.a_idx},
                                    areaCode=${result.areaCode},
                                    sigunguCode1=${result.sigunguCode1},
                                    sigunguCode2=${result.sigunguCode2},
                                    sigunguCode3=${result.sigunguCode3},
                                    sel_idx=${result.sel_idx},
                                    duration=${result.duration},
                                    seldate=${seldate},
                                    day=${i})}">
                                    추가
                                </a>
                        </td>
                        <td class="normal">
                            <!-- 제목을 클릭하면 해당 상세 페이지로 이동 -->
                            <a th:href="@{/member/detail/{idx}(idx=${row.idx})}" th:text="${row.title}"></a>
                        </td>
                        <td th:text="${row.addr1}"></td>
                        <td th:text="${row.idx}"></td>
                    </tr>
                </table>
            </div>
        </div>
    </span>

    <th:block th:replace="/fragment::footer"></th:block>
</body>
</html>
